<div>
    <navbar></navbar>
    <br>
    <div class='container'> 

    <form role="form" class='container'>
        <!-- Heading -->
        <h1 class='text-center'> Add a new movie! </h1>
        <!-- Title -->
        <div class='form-group'> 
            <label> Title </label>
            <input type="text" class="form-control" ng-model='title'></input> 
            <br>
        </div>
        <!-- Genre -->
        <div class='form-group'>
            <label> Genre </label>
            <input type="text" class="form-control" ng-model='genre'></input> 
            <br>
        </div>
        <!-- Actors -->
        <div class='form-group'>
            <label> Actors </label>
            <input  class="form-control"  ng-model='actors'></input> 
            <br>
        </div>
        <!-- Year -->
        <div class='form-group'>
            <label> Year </label>
            <input type="text" class="form-control" ng-model='year'></input> 
            <br>
        </div>
        <!-- Rating -->
        <div class='form-group'>
            <label> Rating </label>
            <input type="number" class="form-control" ng-model='rating'></input> 
            <br>
        </div>
        <!-- Success Popup -->
        <span class='form-group' ng-show='created'> 
                <h5> <strong> You added <em>{{created}}</em>! Add another, or <a ng-href='/#/list'> See all movies! </strong></a></h5>
        </span>
        <!-- Add movie button -->
        <div class='form-group'>
            <button type='button' class="btn btn-default" ng-click="addMovie()"> 
                Add Movie! 
            </button>
           
        </div>
    </form>
</div>