<div>
  <navbar></navbar>
  <h1> Create </h1>
  <form>
    <label> Title: </label>
    <input type="text" ng-model='title'></input> 
    <br>
    <label> Genre: </label>
    <input type="text" ng-model='genre'></input> 
    <br>
    <label> Actors: </label>
    <input type="text" ng-model='actors'></input> 
    <br>
    <label> Year: </label>
    <input type="text" ng-model='year'></input> 
    <br>
    <label> Rating: </label>
    <input type="number" ng-model='rating'></input> 
    <br>
    <button type='button' ng-click="addMovie()"> Submit </button>
  </form>
</div>