<div>
  <navbar></navbar>
  <br><br>
  <div class="container">
    <h1 class='text-center'> All Movies! </h1>
    <div class='list animate-repeat' ng-repeat="movie in movies" 
                      ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
      <h3 class="text-center"><strong> {{ movie.title }} </strong></h3>
      <ul>
        <li> <span> Genre: {{ movie.genre }}</span></li>
        <li> <span> Year: {{ movie.year }}</span></li>
        <li> <span> Actors: {{ movie.actors }}</span></li>
        <li> <span> Rating: {{ movie.rating }}</span></li>
        <a href="" ng-click="deleteMovie($index)" class="btn btn-info btn-lg pull-right">
          <span class="glyphicon glyphicon-trash"></span> Delete.
        </a>
        <a href="" ng-click="updateMovie($index)" class="btn btn-info btn-lg pull-right">
          <span class="glyphicon glyphicon-pencil"></span> Edit...
        </a>
      </ul>
      <br>
    </div>
  </div>
</div>