<div>
  <navbar></navbar>
  <!-- Update Form -->
  <form ng-hide='updated'>
  <h1> Update Movie </h1>
    <!-- Inputs -->
    <label> Title: </label>
      <input type="text" ng-model='movie.title'></input> 
      <br>
    <label> Genre: </label>
      <input type="text" ng-model='movie.genre'></input> 
      <br>
    <label> Actors: </label>
      <input type="text" ng-model='movie.actors'></input> 
      <br>
    <label> Year: </label>
      <input type="text" ng-model='movie.year'></input> 
      <br>
    <label> Rating: </label>
      <input type="number" ng-model='movie.rating'></input> 
      <br>
    <!-- Submit -->
    <button type='button' ng-click="updateMovie()"> Submit </button>
  </form>

  <!-- Success message and return button -->
  <div ng-show='updated'> 
    <h3> You successfully updated that movie! </h3>
    <a ng-href="{{back}}" class="btn btn-info btn-lg pull-right">
      Return
    </a>
  </div>
</div>
