
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e8edf3;
}

li {
    float: left;
}

body {
  background-color: #c6d3e2;
}

li a {
    display: block;
    color: #22264b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: #edf3e8;
    text-decoration: none;
    font-size: 14px;
}

.active {
background-color:#f3eee8;
}

.list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b56969;
}

li.list {
    display: block;
    color: white;
    text-align: center;
    padding: 0 0;
    text-decoration: none;
    background-color: green;
}

li span {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

div.list {
  margin: 0;
  padding: 0;
}

.btn {
  margin: 5px;
}