
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e8edf3;
}

li {
    float: left;
}

body {
  background-color: #c6d3e2;
}

.main-nav li {
  font-size: 1.2em;
}

.container form {
  background-color: #edf3e8;
  border-radius: 10px;
  width: 50%;
}

.message {
  background-color: #edf3e8;
  border-radius: 10px;
  width: 50%;
  text-align: center;
}

li a {
    display: block;
    color: #22264b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover:not(.active) {
    background-color: #edf3e8;
    text-decoration: none;
}

.active {
background-color:#f3eee8;
}

.message {
  text-align: center;

}

.message a {
  text-align: center;
  float: none;
}

.message button {
  text-align: center;
}

.list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #b56969;
}

li.list {
    display: block;
    color: white;
    text-align: center;
    padding: 0 0;
    text-decoration: none;
    background-color: green;
}

li span {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
}

div.list {
  margin: 0;
  padding: 0;
}

.btn {
  margin: 5px;
  background-color: #69b5b5
}

.form-group {
  text-align: center;
}

input {
  text-align: center;
}

.welcome {
  width: 65%;
  text-align: center;
  color: #e8edf3;
}

.background {
  background-image: url("../images/moviepic.jpg");
  background-size: 100% 100%;
}